<div class="container-fluid">
	<h2>More Data</h2>
    <div class="span4">
        <div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
            <ul class="nav">
                <li ng-repeat="cust in customers | orderBy:'cust.lastname'" ng-class="{active: $index == selected}">
                    <a ng-click="thing($index);" href="">{{ cust.lastname + ", " + cust.firstname }}</a>
                </li>
            </ul>
    <br>
    <button type="button" ng-class="{ 'btn': 'notClicked' , 'btn-primary': isClicked  }" ng-click="addNew();">Add</button>
    </div>
    
    <div class="col-xs-1"></div>
    
    <div ng-show="showView" class="col-xs-4">
        <form class="form-horizontal">
            <label for="editFirstName">First Name:</label>
            <br />
            <input class="form-control" ng-model="editFirstName" class="input-medium" type="text" ng-readonly="readOnly">
			<br />
            <label for="editLastName">Last Name:</label>
            <br />
            <input class="form-control" ng-model="editLastName" class="input-medium" type="text" ng-readonly="readOnly">
			<br />
            <label for="editCity">City:</label>
            <br />
            <input class="form-control" ng-model="editCity" class="input-medium" type="text" ng-readonly="readOnly">
			<br />
            <label for="editState">State:</label>
            <br />
            <input class="form-control" ng-model="editState" class="input-medium" type="text" ng-readonly="readOnly">
            <br />
            <button class="btn btn-primary" ng-show="showButton" ng-click="saveClick();">Save</button>
        </form>
    </div>
    
</div>