<div class="container-fluid">
	<h2>Basic Data Manipulation</h2>
    <form ng-submit="addCustomer();">
        <label for="filter.name">Filter:</label>
        <br />
        <input class="form-control" type="text" autocomplete="off" ng-model="filter.name" />
        <br />
        <ul>
            <li ng-repeat="cust in customers | filter:filter.name | orderBy:'name'">{{ cust.name }} - {{ cust.city }}</li>
        </ul>
        <br />
        <label for="newCustomer.name">Customer Name:</label> 
        <br />
        <input class="form-control" type="text" autocomplete="off" ng-model="newCustomer.name" />
        <br />
        <label for="newCustomer.city">Customer City:</label> 
        <br />
        <input class="form-control" type="text" autocomplete="off" ng-model="newCustomer.city" />
        <br />
        <br />
        <button type="submit" class="btn btn-primary" >Add Customer</button>
        <br />
        <br />
    </form>
</div>
