<div class="container-fluid">
	<h2>Distance Calculator</h2>
    <br />
    <form ng-submit="calculate();">
        <div class="form-group">
            <label for="calculate.From">Distance From:</label>
            <br />
            <input class="form-control" type="text" placeholder="Type any city or address..."  ng-model="calculate.From" />
            <br />
            <br />
            <input type="button" value="Current Location" class="btn btn-primary" ng-click="currentLocation();" />
            <br />
            <br />
        </div>
        
        <div class="form-group">
            <label for="calculate.To">To:</label>
            <br />
            <input class="form-control" type="text" placeholder="Type any city or address..." ng-model="calculate.To" />
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
    </form>
    <br />
    <br />
    <p id="distText"></p>
    <p>{{ distance }}</p>
    <p>{{ duration }}</p>
    <br />
</div>
